.item-key {
		font-weight:bold;
}
.item-value {

}
ul.profile {
		list-style-type:none;
		padding: 0px;
}
ul.profile > li {
		margin-bottom: 5px;
}
.item {
	margin-top: 10px;
	margin-bottom: 10px;
}
.item-icon {
	text-align: center;
}
.subitem {
	margin-top: 3px;
	margin-bottom: 5px;
}
.subitem:hover {
	cursor: move;
}
.hak_akses_group .btn-group, .hak_akses_group .btn-group button {
	width: 100%;
}
.remove_button_container {
	position: absolute;
	/*top: 15px;*/
	right: -5px;
}
.remove_button {
	color: black;
	/*position: absolute;*/
	display: none;
	/*top: 15px;*/
	/*right: -5px;*/
}
.remove_button:hover {
	color: gray;
}